extends layout
block content
 h1= title
 - let dressid = toShow._id
 - let dress_type = toShow.types
 - let dressfabric = toShow.fabric
 - let dresscost = toShow.cost
 div
 div.row
 div(class='dressAttr mr-3') dress ID is:
 div #{dressid}
 div.row
 div(class='dressAttr mr-3') dress Type is:
 div #{dress_type}
 div.row
 div(class='dressAttr mr-3') dress fabric is:
 div #{dressfabric}
 div.row
 div(class='dressAttr mr-3') dress Cost is:
 div #{dresscost}